html, body {
    margin: 0;
    height: 100%;
    background-color: black;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-family: Georgia, sans-serif;
    font-size: 3em;
    letter-spacing: -2px;
    color: red;
}

#main-container {
    display: flex;
    justify-content: left;
    position: relative;
    margin: auto;
    margin-top: 4%;
    height: 900px;
    width: 900px;
    border: solid purple 5px;
    background-color: orange;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 900px;
    width: 900px;
}

.gridSquare{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: solid grey 1px;
}

.button-container {
    display: flex;
    justify-content: center;

}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}

.button {
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: solid darkred 3px;
    border-radius: 5%;
}

footer {
    color: white;
    border: solid red 2px;
    text-align: center;
}